{% extends "main.html" %}
{% load staticfiles %}

{% block home %}
<div class="row">
   <div class="col-md-6">
          <ul class="list-group">
               <li class="list-group-item">{{ person.name }}</li>
               <li class="list-group-item">{{ person.surname }}</li>
               <li class="list-group-item">{{ person.date_of_birth }}</li>
               <li class="list-group-item">Photo:</li>
               <li class="list-group-item">
                    <img class="img-thumbnail" src="{% if person.image %}{{ person.image.url }}{% endif %}" 
                         width="{{person.gauge_height.w}}" height="{{person.gauge_height.h}}"
                         alt="Towel test photo">
               </li>
          </ul>
     </div>      
     <div class="col-md-6">
          <ul class="list-group"><strong>Contacts</strong>
               <li class="list-group-item">Email: {{ person.email }}</li>
               <li class="list-group-item">Jabber: {{ person.jabber }}</li>
               <li class="list-group-item">Skype: {{ person.skype_id }}</li>
               <li class="list-group-item">Other contacts:</li>
               <li class="list-group-item">{{ person.other }}</li>
               <li class="list-group-item">Bio:</li>
               <li class="list-group-item">{{ person.bio|linebreaks }}</li>
          </ul>
     </div>
 </div>
{% endblock home %}

{% block script %}<script src="{% static 'js/reg_ajax.js' %}"></script>{% endblock script %}

