{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock title %}
{% block body_id %}requests{% endblock%}

{% block content %}

<h3>Requests</h3>

<table id="request" class="table">
    <thead>
      <tr>
        <th>Path</th>
        <th>Method</th>
        <th>Priority</th>
        <th>Up</th>
        <th>Down</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock content %}
{% block script %}
    <script src="{% static 'js/req_ajax.js' %}"></script>
    <script src="{% static 'js/req_ajax_priority.js' %}"></script>
{% endblock script %}