{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Visiting Card</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- jquery ui -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <!-- hello -->
        <link rel="stylesheet" href="{% static 'css/hello_screen.css' %}" media="screen, projection"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'jquery/jquery.cookie.js' %}"></script>

        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div class="container">
             <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="{% url 'contact:home' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            <li role="presentation"> <a href="{% url 'logout' %}?next={{ request.path|urlencode }}">Logout</a></li>
                         {% else %}
                            <li role="presentation"> <a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-8">    
                   <h1>42 Coffee Cups Test Assignmen</h1>
                </div>
                 <div class="col-md-4">
                     {% if person %}
                        <a href="{% url 'contact:form' %}">Edit</a>
                     {% endif %}
                 </div> 
            </div>
            <div class="row">
                <div class="col-md-8"> 
                  {% block content %}{% endblock content %}
                </div>
             </div>
        </div>
        <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script> 
        {% block script %}{% endblock script %}
    </body>
</html>